/* line 20, style.sass */
.navbar-default {
  background-color: white;
  border-color: white;
  margin-bottom: 50px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0px;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  background: white;
  z-index: 100;
}

/* line 32, style.sass */
.nav.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 37, style.sass */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #0071b2;
  background-color: white;
  font-weight: bold;
}

/* line 44, style.sass */
.navbar-default .navbar-nav > li > a:hover {
  color: #444349;
}

/* line 47, style.sass */
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}

/* line 53, style.sass */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 59, style.sass */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* line 64, style.sass */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #444349;
}

/* line 71, style.sass */
.modal-box {
  position: fixed;
  width: 450px;
  height: 700px;
  top: 50%;
  margin-top: -350px;
  left: 50%;
  margin-left: -225px;
  box-shadow: 0 0 50px 1000px rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

/* line 83, style.sass */
h1, h2 {
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}

/* line 89, style.sass */
ul {
  list-style: none;
  padding: 0px;
}

/* line 94, style.sass */
.title-text:before {
  content: "";
  height: 18px;
  width: 5px;
  margin-right: 5px;
  display: inline-block;
  background: #0071b2;
}

/* line 102, style.sass */
.puntas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
/* line 107, style.sass */
.puntas:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 150px solid #444349;
  border-bottom: 5px solid transparent;
  margin-right: 20px;
}
@media only screen and (max-width: 480px) {
  /* line 107, style.sass */
  .puntas:before {
    border-right: 100px solid #444349;
  }
}
/* line 117, style.sass */
.puntas:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 150px solid #444349;
  border-bottom: 5px solid transparent;
  margin-left: 20px;
}
@media only screen and (max-width: 480px) {
  /* line 117, style.sass */
  .puntas:after {
    border-left: 100px solid #444349;
  }
}

/* line 127, style.sass */
.glyphicon {
  font-size: 46px;
}

/* line 131, style.sass */
#extract {
  padding-top: 80px;
}
/* line 133, style.sass */
#extract .avatar {
  position: relative;
  height: 150px;
  margin-bottom: 25px;
}
/* line 137, style.sass */
#extract .avatar .img-dw {
  position: absolute;
  top: 0px;
  right: 50%;
  margin-right: -30px;
}
/* line 142, style.sass */
#extract .avatar .img-dw img {
  max-height: 150px;
}
/* line 144, style.sass */
#extract .avatar .img-jiarcos {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -30px;
  z-index: -1;
}
/* line 150, style.sass */
#extract .avatar .img-jiarcos img {
  max-height: 150px;
}

/* line 154, style.sass */
#experience {
  padding-bottom: 40px;
}

/* line 158, style.sass */
#skills {
  background: url("../images/stardust.png") repeat;
  padding: 40px 0px;
}
/* line 161, style.sass */
#skills .big-title, #skills p {
  color: #f9f9f9 !important;
}
/* line 163, style.sass */
#skills .puntas:before {
  border-right: 150px solid #f9f9f9;
}
@media only screen and (max-width: 480px) {
  /* line 163, style.sass */
  #skills .puntas:before {
    border-right: 100px solid #f9f9f9;
  }
}
/* line 167, style.sass */
#skills .puntas:after {
  border-left: 150px solid #f9f9f9;
}
@media only screen and (max-width: 480px) {
  /* line 167, style.sass */
  #skills .puntas:after {
    border-left: 100px solid #f9f9f9;
  }
}
/* line 171, style.sass */
#skills .skill-container {
  border: 1px solid #cccccc;
  padding: 20px 0px;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s linear all;
}
@media only screen and (max-width: 768px) {
  /* line 171, style.sass */
  #skills .skill-container {
    margin-bottom: 20px;
  }
}
/* line 183, style.sass */
#skills .skill-container:hover {
  background: #2d2c31;
  color: white;
}
/* line 186, style.sass */
#skills .skill-container:hover .skyll-icon {
  background: white;
}
/* line 188, style.sass */
#skills .skill-container:hover .material-icons {
  color: #2d2c31 !important;
}
/* line 190, style.sass */
#skills ul.row {
  margin: 20px 0px 10px;
}
/* line 192, style.sass */
#skills ul.row .skill-list li {
  border-bottom: 1px #dddddd dashed;
  padding: 10px 0px;
}
/* line 195, style.sass */
#skills ul.row .skill-list li:last-child {
  border-bottom: 0px;
}
/* line 197, style.sass */
#skills ul.row .skyll-icon {
  height: 100px;
  width: 100px;
  background: #0071b2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* line 205, style.sass */
#skills ul.row .skyll-icon .material-icons {
  font-size: 50px;
  color: white;
  transition: 0.2s linear all;
}

/* line 211, style.sass */
#portfolio {
  margin: 40px 0px 0px;
}
/* line 213, style.sass */
#portfolio ul {
  margin: 0px;
  padding-top: 20px;
}
/* line 216, style.sass */
#portfolio ul li {
  padding: 0px;
}

/* line 220, style.sass */
#contact {
  background: url("../images/stardust.png") repeat;
  padding: 40px 0px;
}
/* line 223, style.sass */
#contact .big-title, #contact p {
  color: #f9f9f9 !important;
}
/* line 225, style.sass */
#contact .puntas:before {
  border-right: 150px solid #f9f9f9;
}
@media only screen and (max-width: 480px) {
  /* line 225, style.sass */
  #contact .puntas:before {
    border-right: 100px solid #f9f9f9;
  }
}
/* line 229, style.sass */
#contact .puntas:after {
  border-left: 150px solid #f9f9f9;
}
@media only screen and (max-width: 480px) {
  /* line 229, style.sass */
  #contact .puntas:after {
    border-left: 100px solid #f9f9f9;
  }
}
/* line 233, style.sass */
#contact .title-text, #contact a {
  color: white;
  text-decoration: none;
}
/* line 236, style.sass */
#contact a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* line 241, style.sass */
footer {
  background: #2d2c31;
  padding: 20px 0px;
  color: white;
}
/* line 245, style.sass */
footer small {
  display: flex;
  justify-content: center;
}
