//VARIABLES COLORS
$primary-color: #0071B2
$secondary-color: #2D2C31
$primary-font-color: #444349
$primary-background-color: #f9f9f9

//VARIABLES MEDIA QUERIES //@media #{$m1200}
// Large Devices, Wide Screens
$m1200: 'only screen and (max-width : 1200px)' 
// Medium Devices, Desktops
$m992: 'only screen and (max-width : 992px)'
// Small Devices, Tablets
$m768: 'only screen and (max-width : 768px)'
// Extra Small Devices, Phones
$m480: 'only screen and (max-width : 480px)'
// Custom, iPhone Retina 
$m320: 'only screen and (max-width : 320px)'

// BOOTSTRAP OVERRIDE
.navbar-default
    background-color: #fff
    border-color: #fff
    margin-bottom: 50px
    box-shadow: 0 2px 3px rgba(0,0,0,0.2)
    margin: 0px
    position: fixed
    width: 100%
    border-radius: 0px
    background: white
    z-index: 100

.nav.navbar-nav
    width: 100%
    display: flex
    justify-content: space-between
    @media #{$m768}
        margin-left: 0px !important
        margin-right: 0px !important
    @media #{$m480}
        flex-direction: column
        align-items: center

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
    color: $primary-color
    background-color: #fff
    font-weight: bold

.navbar-default .navbar-nav>li>a:hover
    color: $primary-font-color

.container-fluid
    padding-right: 0px !important
    padding-left: 0px !important
    margin-right: auto
    margin-left: auto

.container 
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

.row
    margin-right: 0px
    margin-left: 0px

//GLOBAL
body
    -webkit-font-smoothing: antialiased
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    background-color: $primary-background-color
    color: $primary-font-color

.modal-box
    position: fixed
    width: 450px
    height: 700px
    top: 50%
    margin-top: -350px
    left: 50%
    margin-left: -225px
    box-shadow: 0 0 50px 1000px rgba(0,0,0,0.5)
    z-index: 5
    display: none

h1, h2
    font-family: 'Lobster', cursive
    font-weight: bold
    font-size: 40px
    margin: 0px 

ul
    list-style: none
    padding: 0px

.logo-dw
    position: fixed
    z-index: 1000
    width: 50px
    left: 50%
    margin-left: -25px
    opacity: 0
    transition: 0.2s linear all
    display: flex
    align-items: center
    @media #{$m768}
        left: 35px
    img
        height: 50px
        width: 50px
    h2
        font-size: 28px !important
        display: none
        @media #{$m768}
            display: inline-block
            margin-left: 10px

.title-text
    &:before
        content: ''
        height: 18px
        width: 5px
        margin-right: 5px
        display: inline-block
        background: $primary-color

.puntas
    display: flex
    justify-content: center
    align-items: center
    margin: 10px 0px
    &:before
        content: ''
        width: 0
        height: 0
        border-top: 5px solid transparent
        border-right: 150px solid $primary-font-color
        border-bottom: 5px solid transparent
        margin-right: 20px 
        @media #{$m480}
            border-right: 100px solid $primary-font-color
    &:after
        content: ''
        width: 0
        height: 0
        border-top: 5px solid transparent
        border-left: 150px solid $primary-font-color
        border-bottom: 5px solid transparent
        margin-left: 20px
        @media #{$m480}
            border-left: 100px solid $primary-font-color
.glyphicon
    font-size: 46px

// EXTRACT
#extract
    padding-top: 80px
    .avatar
        position: relative
        height: 150px
        margin-bottom: 25px
        .img-dw
            position: absolute
            top: 0px
            right: 50%
            margin-right: -30px
            img
                max-height: 150px
        .img-jiarcos
            position: absolute
            top: 0px
            left: 50%
            margin-left: -30px
            z-index: -1
            img
                max-height: 150px

// EXPERIENCE
#experience
    padding-bottom: 40px

// SKILLS
#skills
    background: url('../images/stardust.png') repeat
    padding: 40px 0px
    .big-title, p
        color: $primary-background-color !important
    .puntas:before
        border-right: 150px solid $primary-background-color
        @media #{$m480}
            border-right: 100px solid $primary-background-color
    .puntas:after
        border-left: 150px solid $primary-background-color
        @media #{$m480}
            border-left: 100px solid $primary-background-color
    .skill-container
        border: 1px solid #ccc
        padding: 20px 0px
        border-radius: 3px
        box-shadow: 0 2px 3px rgba(0,0,0,0.2)
        background: white
        display: flex
        flex-direction: column
        align-items: center
        transition: 0.2s linear all
        @media #{$m768}
            margin-bottom: 20px
        &:hover
            background: $secondary-color
            color: white
        &:hover .skyll-icon
            background: white
        &:hover .material-icons
            color: $secondary-color !important
    ul.row
        margin: 20px 0px 10px
        .skill-list li
            border-bottom: 1px #ddd dashed
            padding: 10px 0px
        .skill-list li:last-child
            border-bottom: 0px
        .skyll-icon
            height: 100px
            width: 100px
            background: $primary-color
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 20px
            .material-icons
                font-size: 50px
                color: white
                transition: 0.2s linear all

// PORTFOLIO
#portfolio
    margin: 40px 0px 0px
    ul
        margin: 0px 
        padding-top: 20px
        li
            padding: 0px 

//CONTACT
#contact
    background: url('../images/stardust.png') repeat
    padding: 40px 0px
    .big-title, p
        color: $primary-background-color !important
    .puntas:before
        border-right: 150px solid $primary-background-color
        @media #{$m480}
            border-right: 100px solid $primary-background-color
    .puntas:after
        border-left: 150px solid $primary-background-color 
        @media #{$m480}
            border-left: 100px solid $primary-background-color 
    .title-text, a
        color: white    
        text-decoration: none
    a:hover
        text-decoration: none
        font-weight: bold

//FOOTER
footer
    background: $secondary-color
    padding: 20px 0px
    color: #fff
    small
        display: flex
        justify-content: center