.modal-box
    position: fixed
    width: 450px
    height: 700px
    top: 50%
    margin-top: -350px
    left: 50%
    margin-left: -225px
    box-shadow: 0 0 50px 1000px rgba(0,0,0,0.5)
    z-index: 5
    display: none
	  


