body{
	background-color: #18bc9c;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}

	nav{
		height: 90px;
		width: 100%;
		background-color: #2c3e50;
		display: block;
		position: fixed;
		z-index: 10;
	}


		.logo{
			width: 29%;
			text-align: left;
			display: inline-block;
			position: relative;
			margin-top: 30px;
		}

		.logo a{
			font-size: 28px;
			font-weight: 700;
		}

		.menu{
			width: 70%;
			text-align: right;
			display: inline-block;
			position: relative;
		}

			.menu li{
				display: inline-block;
				padding-left: 25px; 
			}

header{
	padding: 170px 0 80px 0;
	display: block;
	position: relative;
}	

	header h1{
		font-size: 70px;
		margin-bottom: 10px;
	}		

	hr{
		padding: 0;
		margin-bottom: 15px;
		border: 3px #fff solid;
		width: 100px;
		display: inline-block;

	}
	
	.star{
		padding: 0 3px;
		margin: 0;
		font-size: 50px;
		display: inline-block;
	}

	h2{
		font-weight: 400;
	}

.box-blanco{
	background-color: #fff;
	padding: 80px 0;
	display: block;
	position: relative;
}

	h3{
		margin-top: 0;
		padding: 0;
		font-size: 50px;
		margin-bottom: 10px;
	}

	.text-azul{
		color: #2c3e50;
	}

	.hr-azul{
		border: 3px #2c3e50 solid;
	}
	
	.galery{
		margin-top: 20px;
	}

	.portfolio{
		position: relative;
		display: inline-block;
		width: 300px;
		margin: 10px; 

	}

.box-about{
	padding: 80px 0;
	display: block;
	position: relative;
}

	.articulos{
		margin: 20px 0;
	}

		.articulos article{
			font-family: 'Lato', sans-serif;
			position: relative;
			display: inline-block;
			width: 35%;
			text-align: left;
			margin: 0 10px;
		}

	button{
		background-color: #18bc9c;
		border: 1px solid #fff;
		padding: 15px;
		border-radius: 5px;
		color: #fff;
		font-size: 16px;
		transition: .4s linear;
	}	

	button:hover{
		background-color: #1dd4b0;
	}

/*form*/
.nombre-email, .direccion, .mensaje, .enviar{
	display: block;
	margin: 10px 0;
}
.direccion{

}

	.box-form{
		display: inline-block;
		background-color: #2c3e50;
		border: none;
		padding: 15px;
		font-family: 'Lato', sans-serif;
		color: #fff;
		margin: 5 10px;
	}









/*fin form*/

h4{
	margin-top: 0;
	padding: 0;
}

.info{
	background-color: #2c3e50;
	padding: 30px 0;
	display: block;
	position: relative;
}

	.direccion, .redes, .contact{
		display: inline-block;
		position: relative;
		width: 25%;
		vertical-align: top;
	}

	.direccion address{
		font-family: 'Lato', sans-serif;
		font-style: normal;
	}

	.social{
		font-size: 25px;
		padding: 0 10px;
		transition: .4s linear;
	} 

	.social:hover{
		color: #1dd4b0;
	}

	.contact a{
		color: #1dd4b0;
		font-family: 'Lato', sans-serif;
	}

footer{
	padding: 25px 0;
	background-color: #233140;
	height: 20px;
	font-family: 'Lato', sans-serif;
}

	small{
		padding-top: 20px;
	}

.container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}